#main-div {
margin-left: 30px;

}


span {
    font-size: 30px;
   
    color: blue;
}

span:hover{
    cursor: pointer;
}

.task {
    top: 100px;
    width: 250px;
    color: brown;
    position: absolute;
    border: 2px solid goldenrod;
    text-align: center;
    left: 30px;
}    

.div1-task {
    background-color: aliceblue;
    width: 300px;
    margin-left: 20px;
    border: 2px solid brown;
}